body {
    margin: 0;
    height: 100vh;
    background-image: radial-gradient(circle 500px at center, #353535, #171717);
    color: white;
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head {
    width: min(95%, 800px);
    margin-top: 28px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end; 
}
#head p {
    margin: 0;
    color: #8A8A8A;
    font-size: 12px;
    font-weight: bold;
}
#head #question-number {
    color: white;
}
#progress-container {
    width: min(95%, 800px);
    height: 2px;
    background-color: #333333;
    border-radius: 12px;
}
#progressBar {
    height: 100%;
    width: 20%;
    background: linear-gradient(90deg, #2196F3, #4CAF50);
    transition: width 0.4s ease-in-out;
}

#question-section {
    margin: 40px 0;
    width: min(95%, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#question-section h1 {
    margin: 12px;
    font-weight: normal;
    font-size: clamp(24px, 3vw, 40px)
}
#question-section p {
    margin: 0;
}
#question-section p:first-child {
    color: #8A8A8A;
    font-size: 11px;
}
#question-section #genre,
#question-section #mode {
    color: #82B0ED;
}
#question-section p:last-child {
    color: #8A8A8A;
    font-size: 14px;
}

#answers {
    margin: 0;
    width: min(100%, 1000px);
    height: 40vh;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}
#answers button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;

    transition:transform 0.15s ease;
}

#answers button:active { transform: scale(0.97); }

#red {
    background: linear-gradient(
        135deg,
        var(--red-light),
        var(--red-medium)
    );
}
#red:hover,
#red:active {
    background: linear-gradient(
        135deg,
        var(--red-medium),
        var(--red-dark)
    );
}

#blue {
    background: linear-gradient(
        135deg,
        var(--blue-light),
        var(--blue-medium)
    );
}
#blue:hover,
#blue:active {
    background: linear-gradient(
        135deg,
        var(--blue-medium),
        var(--blue-dark)
    );
}

#yellow {
    background: linear-gradient(
        135deg,
        var(--yellow-light),
        var(--yellow-medium)
    );
}
#yellow:hover,
#yellow:active {
    background: linear-gradient(
        135deg,
        var(--yellow-medium),
        var(--yellow-dark)
    );
}

#green {
    background: linear-gradient(
        135deg,
        var(--green-light),
        var(--green-medium)
    );
}
#green:hover,
#green:active {
    background: linear-gradient(
        135deg,
        var(--green-medium),
        var(--green-dark)
    );
}

#answers .wrong {
    background: var(--red-medium);
}
#answers .right {
    background: var(--green-medium);
}

#nextLabel {
    visibility: hidden;
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 12px;
    color: #8A8A8A;
}
#next-container {
    margin: 0;
    visibility: hidden;
    width: min(95%, 800px);
    height: 2px;
    background-color: #333333;
    border-radius: 12px;
}
#nextBar {
    height: 100%;
    width: 100%;
    background: #666666;
    transition: width 2s linear;
}

@media (max-width: 400px) {
    #answers {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 8px;
    }

    #answers button {
        border-radius: 12px;
    }
}