body {
    margin: 0;
    height: 100vh;
    background: hsl(0, 0%, 10%);
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#above-title {
    margin: 0 16px;
    color: #999999;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
}
#below-title {
    margin: 0 16px 16px 16px;
    color: #999999;
    text-align: center;
}
#game-title {
    font-size: clamp(3rem, 8vw, 6rem); /* clamp(min, scale, max) */
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;

    background: linear-gradient(
        90deg,
        var(--red-medium),
        var(--yellow-medium),
        var(--green-medium),
        var(--blue-medium),
        var(--red-medium)
    );
    background-size: 300% auto;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* extra redundency */

    filter: drop-shadow(4px 4px 4px hsla(0, 0%, 0%, 0.3));

    animation:
        title-gradient 6s linear infinite,
        title-float 3s ease-in-out infinite;
}
@keyframes title-gradient {
    from { background-position: 0% center; }
    to { background-position: 300% center; }
}
@keyframes title-float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}

#settings {
    display: flex;
    flex-direction: row;
    margin: 28px 0;
    gap: 12px;
}
.setting-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.setting-group label {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}
.setting-group select {
    width: 200px;
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: hsl(0, 0%, 25%);
    border: 3px solid transparent;
    border-radius: 16px;
    cursor: pointer;

    transition:
        border-color 0.2s,
        transform 0.2s,
        background-color 0.2s,
        box-shadow 0.2s;
}
.setting-group select:focus {
    outline: none;
    border-color: var(--blue-light);
}
#start-button {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 16px;
    padding: 18px 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: hsl(0, 0%, 20%);
    cursor: pointer;
    z-index: 1;
}
#start-button::before {
    content: "";
    position: absolute;
    inset: -90px -10px;
    border-radius: 50%;

    background: conic-gradient(
        from 0deg,
        var(--red-light),
        var(--blue-light),
        var(--yellow-light),
        var(--green-light),
        var(--red-light)
    );
    animation: spin 4s linear infinite;
    z-index: -2;
}
#start-button:hover::before {
    animation-duration: 1s;
}
#start-button::after {
    content: "";
    position: absolute;
    inset: 4px;

    background: hsl(0, 0%, 25%);
    border-radius: 12px;

    z-index: -1;
}
#start-button:active {
    transform: scale(0.95);
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


#info-container {
    width: min(400px, 95%);
    background-color: #212121;
    border: 1px solid #3B3B3B;
    border-radius: 16px;
    padding: 18px 20px;
    margin-top: 60px; 
    display: flex;
    gap: 12px
}
#info-container div:first-child {
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    font-weight: bold;
    color: #5CA3FF;
    background-color: rgba(20, 100, 204, 0.12);
    border: 1px solid rgba(20, 100, 204, 0.35);
}
#info-container div:last-child p:first-child {
    color: white;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 5px;
    font-weight: bold;
}
#info-container div:last-child p:last-child {
    color: #A1A1A1;
    font-size: 13px;
    margin: 0;
}
#source {
    color: #DDDDDD;
}
#source:hover {
    color: rgb(81, 136, 210); 
}

@media (max-width: 500px) {
    #settings {
        flex-direction: column;
    }
}