:root {
    --red-light: hsl(350, 100%, 70%);
    --red-medium: hsl(350, 80%, 50%);
    --red-dark: hsl(350, 80%, 38%);

    --blue-light: hsl(214, 100%, 68%);
    --blue-medium: hsl(214, 82%, 44%);
    --blue-dark: hsl(214, 82%, 32%);

    --yellow-light: hsl(47, 100%, 65%);
    --yellow-medium: hsl(43, 100%, 43%);
    --yellow-dark: hsl(43, 100%, 32%);

    --green-light: hsl(113, 70%, 65%);
    --green-medium: hsl(113, 76%, 30%);
    --green-dark: hsl(113, 76%, 22%);

    --review-green: 155, 214, 172;
    --review-red: 239, 183, 130;
}
html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}

#rubik {
    width: fit-content;
    position: absolute;
    top: 16px;
    left: 16px;
}
#rubik img {
    width: 48px;
}